<div class="container-fluid homePage">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>{{name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="banner-image"></div>
  </div>

  <div class="row">
    <div class="jumbotron text-center">
      <h1>You'll never believe it.</h1>
      <p>There's some crazy thing that you probably don't need—but we have it, and you should buy it.</p>
      <a class="btn btn-primary" role="button" href="#/products">Click me</a>
    </div>
  </div>
</div>
