<div class="container-fluid aboutPage">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>{{name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <blockquote>
        <h3 class="text-inline">Established</h3>
        <p class="text-inline"> in some rich kid's house in some place you could never afford, whatever this website is was designed just for you (to spend your money!) Do you like us yet? Please like us. And give us your money.</p>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="images/about1-md.jpg" data-toggle="lightbox" data-gallery="multiimages" class="img-hover">
        <img src="images/about1-sm.jpg" class="img-responsive">
      </a>
    </div>
    <div class="col-md-4">
      <a href="images/about2-md.jpg" data-toggle="lightbox" data-gallery="multiimages" class="img-hover">
        <img src="images/about2-sm.jpg" class="img-responsive">
      </a>
    </div>
    <div class="col-md-4">
      <a href="images/about3-md.jpg" data-toggle="lightbox" data-gallery="multiimages" class="img-hover">
        <img src="images/about3-sm.jpg" class="img-responsive">
      </a>
    </div>

  </div>

</div>
