/*----------------------------------------
[Table of Contents]

1. Imports
2. Global
2. Main
3. Media Queries
----------------------------------------*/

/*----------------------------------------
1. Imports
----------------------------------------*/

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import 'about';
@import 'contact';
@import 'home';
@import 'products';
@import 'ekko-theme';
// endbower

/*----------------------------------------
2. Global
----------------------------------------*/

.tabs {
  margin-bottom: 10px;
}

.text-inline {
  display: inline;
}

/*----------------------------------------
3. Main
----------------------------------------*/

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*----------------------------------------
4. Media Queries
----------------------------------------*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}


